{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script> 
    <title>Document</title>
    <style>

           #span,#emspan,#fnspan{

             color:red;
           }

    </style>
</head>
<body class="d-flex justify-content-center">
    <div class="d-flex flex-lg-row flex-column rounded col-lg-6 col-12 shadow-lg mt-lg-5">
        <div class="left col-lg-4 col-12"></div>
        <form action="" method="POST" class="right col-lg-8 col-12 d-flex flex-column p-5">
            {% csrf_token %}
            <p class="fs-2 fw-bold">Registration</p>
                <span id="fnspan"></span>
                <input type="text" name="username" id="fn" placeholder="Username" class="form-control mt-4"  required>
            <span id="emspan"></span>
            <input type="email" id="mail" name="email" placeholder="Email" class="form-control mt-4" required>
            <!-- <span id="numspan"></span>
            <input type="tel"id="number" name="phone" placeholder="Enter the Phone" class="form-control mt-4"  required> -->
            <span id="pspan"></span>
            <input type="password"id="pass" name="password" placeholder="Password" class="form-control mt-4"  required>
            <span id="cpspan"></span>
            <input type="password" id="cpass" name="confirmpass" placeholder="Confirm Password" class="form-control mt-4"  required>
            <button class="btn btn-success mt-4" id="btn1" onsubmit="return checkall()" type="submit">Register</button>
            <p class="m-3">Already a user? <a href="http://127.0.0.1:8000/login/">Log-in</a></p>
            {% for message in messages %}
            <p class="text-danger">{{message}}</p>
            {% endfor %}
        </form>
        </div>
    </div>
    <script>
        

            $(document).ready(function () {
                $("#fn").keyup(function () {
                    validateName("#fn");
                });
    
                $("#mail").keyup(function () {
                    validateEmail("#mail");
                });
    
                $("#pass").keyup(function () {
                    validatePassword("#pass");
                });
    
                $("#cpass").keyup(function () {
                    validateConfirmPassword("#cpass");
                });
    
                $("#number").keyup(function () {
                    validatePhoneNumber("#number");
                });
    
            });
    
            function validateName(fieldId) {
                var name = $(fieldId).val();
                var lettersWithSpaces = /^[A-Za-z\s]+$/;
                if (name.trim() === "") {
                    $("#fnspan").html("Enter the Name").css("color", "red");
                } else if (!lettersWithSpaces.test(name)) {
                    $("#fnspan").html("Name field required only alphabet characters with spaces").css("color", "red");
                } else {
                    $("#fnspan").html("");
                }
            }
    
            function validateEmail(fieldId) {
                var email = $(fieldId).val();
                var filter = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
                if (email === "") {
                    $("#emspan").html("Enter the Email Id").css("color", "red");
                } else if (!filter.test(email)) {
                    $("#emspan").html("Use correct Email Id").css("color", "red");
                } else {
                    $("#emspan").html("");
                }
            }
    
            function validatePassword(fieldId) {
                var password = $(fieldId).val();
                var pwd_expression = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-])/;
                var submitButton = $("#btn1");
                if (password === "") {
                    $("#pspan").html("Enter the Password").css("color", "red");
                    submitButton.prop("disabled", true);
                    return false
                } else if (!pwd_expression.test(password)) {
                    $("#pspan").html("Use correct Password").css("color", "red");
                    submitButton.prop("disabled", true);
                    return false
                }
                else {
                    $("#pspan").html("");
                    submitButton.prop("disabled", false);
                    return true
                }
            }
    
            function validateConfirmPassword(fieldId) {
                var password = $("#pass").val();
                var confirmPassword = $(fieldId).val();
                var submitButton = $("#btn1");
                if (confirmPassword === "") {
                    $("#cpspan").html("Enter the Confirm Password").css("color", "red");
                    submitButton.prop("disabled", true);
                    return false
                } else if (confirmPassword !== password) {
                    $("#cpspan").html("Password do not match").css("color", "red");
                    submitButton.prop("disabled", true);
                    return false
                } else {
                    $("#cpspan").html("");
                    submitButton.prop("disabled", false);
                    return true
                }
            }
            function validatePhoneNumber(fieldId) {
                var numberRegex = /^\d+$/; // Regular expression to allow only digits
                var phoneNumber = $(fieldId).val();
                var submitButton = $("#btn1"); // Adjust the ID of your submit button element
    
                if (phoneNumber === "") {
                    $("#numspan").html("Enter the Phone number").css("color", "red");
                    submitButton.prop("disabled", true); // Disable the submit button
                    return false;
                } else if (!numberRegex.test(phoneNumber)) {
                    $("#numspan").html("Invalid phone Number").css("color", "red");
                    submitButton.prop("disabled", true); // Disable the submit button
                    return false;
                } else if (phoneNumber.length !== 10 || !['7', '8', '9'].includes(phoneNumber.charAt(0))) {
                    $("#numspan").html("Use correct phone Number").css("color", "red");
                    submitButton.prop("disabled", true); // Disable the submit button
                    return false;
                } else if (/(\d)\1{4,}/.test(phoneNumber)) {
                    $("#numspan").html("Avoid more than 5 consecutive numbers").css("color", "red");
                    disableSubmitButton();
                    return false;
                } else {
                    $("#numspan").html("");
                    submitButton.prop("disabled", false); // Enable the submit button
                    return true;
                }
            }
            
            function checkall() {
                if (validatefName() && validatesName() && validateEmail() && validatePassword() && validateConfirmPassword() && validatePhoneNumber())
                    return true;
    
                return false;
            }   
    </script>
</body>
</html>


